doctype html

html.h-100
  title= settings.title
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  meta(name='csrf', content=req.csrfToken())
  meta(name='show-bolt11', content=settings.show_bolt11?1:'')
  meta(name='apple-mobile-web-app-capable', content='yes')
  link(rel='stylesheet', href='bootswatch/'+settings.theme+'/bootstrap.min.css')

  body.h-100
    .container.d-flex.h-100: .justify-content-center.align-self-center.text-center.mx-auto.w-100

      h1.mb-4= settings.title

      .row
        for item, itemid in items
          .col-sm-4.mb-3
            h3= item.title
            button.btn.btn-secondary(data-buy-item=itemid) Buy for #{ formatFiat(item.price) }

      if settings.custom_amount
        .row.mt-4: .col-md-4.offset-md-4.col-sm-6.offset-sm-3
          h3 Something else
          form(data-buy): .input-group
            input.form-control(type='number', step='0.00001', name='amount', placeholder=settings.currency+' (optional)')
            .input-group-append
              button.btn.btn-primary(type='submit') Pay

  script(src='script.js')
